<!DOCTYPE html>
<html lang="en">
<%-include("./../partials/head.ejs", {title: "CreateProduct"}) %> 

   

    <body class="fondo">
        <header>
            <%- include('./../partials/header') %>
        </header>
        
   <h1 class = "titulo-h1-createProducts"> AQUI CREAMOS LOS PR0DUCTOS </h1> 

        <main class="main-edit">
           
        </main>
        
            <%- include('./../partials/footer') %>     
    </body>
    </html>


</body>
</html>