<!DOCTYPE html>
<html lang="en">
<%-include("./../partials/head.ejs", {title: "Products"}) %> 

   

    <body class="fondo">
        <header>
            <%- include('./../partials/header') %>
        </header>
        
        <h1 class = "titulo-h1-productos"> AQUI ESTAN LOS PR0DUCTOS </h1>

        <main class="main-producto">
           
               
        </main>
        
            <%- include('./../partials/footer') %>     
    </body>
    </html>


</body>
</html>