<header class="main-header">
    <div class="main-div1">
        <a href="#" class="hamburguer-button"> <i class="fa-solid fa-bars"></i> </a>
        <a href="/"><h2 class="titulo"> PAPELERIA KWA </h2></a>
        <img class="logo logo-detail" src="./img/logo3.png" alt=""></a>
    </div>

    <div class="buscar-boton">
        <input class="buscar" type="search" placeholder="Escribe el nombre del libro">
        <button class="boton"> Buscar </button>
    </div>

<nav class="main-navbar">
    <li> <a href="#"> Home </a> </li>
    <li> <a href="#"> Productos </a> </li>
    <li> <a href="#"> Registro </a>  </li>
    <li> <a href="#"> Login </a> </li>
</nav>
    
</header>